$header-color: #273037;
$header-text-color: #ffffff;
$header-sort-color: #3E4953;
$stripe-color: #FBFBFB;

@font-face {
  font-family: 'FontAwesome';
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')
      format('embedded-opentype'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0')
      format('woff2'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0')
      format('woff'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0')
      format('truetype'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin sort-parts {
  right: -10px;
  position:absolute;
  top: 0;
  color: $header-sort-color;
}

.centriam-table-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position:relative;
  font-size: 10px;

  .paging-row {
    text-align:right;
    height:4.6em;
    margin-top: 2em;
    line-height: 4.6em;
    position:relative;
    color: #53585B;



    div {
      display:inline-block;
      margin: 0 .5em;

      span {
        font-size:1.4em;
        margin: 0 .7em;
      }

      &.page-size{
        left:0;
        position:absolute;
        font-family: sans, 'FontAwesome';
        select {
          height: 2.4em;
          width:5em;
          padding: 0 1em;
          border: .1em solid #EAEAEA;
          border-radius: .2em;
          background-color: #ffffff;
          -webkit-appearance: none;
        }
        &:after{
          font-size: 2em;
          position:relative;
          right: 1.2em;
          top:.2em;
          color: #53585B;
          content: "\f0d7";
        }
      }

      &.page-controls{
         input {
           width: 2.6em;
           height:3.6em;
           padding: 0 .5em;
           border: .1em solid #EAEAEA;
           border-radius: .2em;
           background-color: #ffffff;
           text-align:center;
         }
      }
    }

    button{

      text-decoration:none;

      &:focus,&:active {outline:0;}

      &.defined {
        font-family: sans, 'FontAwesome';
        height:3.6em;
        width:4.4em;
        border: .1em solid #EAEAEA;
        border-radius: .2em;
        background-color: #ffffff;
        margin: 0 .2em;

        &:disabled {
          opacity: .2;
        }

        .previous {
          &:before {
            content: "\f053";
          }
        }

        .next {
          &:after {
            content: "\f054";
          }
        }
      }
    }
  }

  table.centriam-table {
    width:100%;
    font-size: 1.2em;
    border-spacing: 0;

    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);

    tr {
      background-color: #fff;

      &:nth-child(even) {
        background-color: $stripe-color;
      }

      &.selected {
        background-color: #99f;
        border: 1px solid  #228;
      }

      th {
        .text-container {
          font-family: sans, 'FontAwesome';
          position: relative;

          &.no-sort:before {
            content: "\f0dc";
            @include sort-parts();
          }

          &.asc-sort:before {
            content: "\f0de";
            @include sort-parts();
            color: #AAF;
          }
          &.desc-sort:before {
            content: "\f0dd";
            @include sort-parts();
            color: #FAA;
          }
        }
        background-color: $header-color;
        color: $header-text-color;
        position: relative;
      }
    }
  }
}

