$header-color: #273037;
$header-text-color: #ffffff;
$header-sort-color: #3E4953;
$stripe-color: #FBFBFB;

@font-face {
  font-family: 'FontAwesome';
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')
      format('embedded-opentype'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0')
      format('woff2'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0')
      format('woff'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0')
      format('truetype'), url('../../node_modules/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}



@mixin sort-parts {
  right: -10px;
  position:absolute;
  top: 0;
  color: $header-sort-color;
}

.centriam-table-container {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position:relative;

  .paging-row {
    text-align:right;
    height:46px;
    margin-top: 30px;
    line-height: 46px;

    font-size:14px;

    div {
      display:inline-block;
      margin: 0 5px;

      &.page-controls{
         input {
           width: 26px;
           height:36px;
           padding: 0 10px;
           border: 1px solid #EAEAEA;
           border-radius: 2px;
           background-color: #ffffff;
         }
      }
    }

    button{

      text-decoration:none;

      &:focus,&:active {outline:0;}

      &.defined {
        font-family: sans, 'FontAwesome';
        height:36px;
        width:46px;
        border: 1px solid #EAEAEA;
        border-radius: 2px;
        background-color: #ffffff;
        margin: 0 2px;

        &:disabled {
          opacity: .2;
        }

        .previous {
          &:before {
            content: "\f053";
          }
        }

        .next {
          &:after {
            content: "\f054";
          }
        }
      }
    }
  }

  table.centriam-table {
    width:100%;
    font-size: 12px;
    border-spacing: 0;

    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);

    tr {
      background-color: #fff;
      &:nth-child(even) {
        background-color: $stripe-color;
      }

      th {
        .text-container {
          font-family: sans, 'FontAwesome';
          position: relative;

          &.no-sort:before {
            content: "\f0dc";
            @include sort-parts();
          }

          &.asc-sort:before {
            content: "\f0de";
            @include sort-parts();
            color: #AAF;
          }
          &.desc-sort:before {
            content: "\f0dd";
            @include sort-parts();
            color: #FAA;
          }
        }
        background-color: $header-color;
        color: $header-text-color;
        position: relative;
      }
    }
  }
}

